---
import { Image } from 'astro:assets';

const src = '/assets/img/profile_kanishka_square.jpg';
---

<div class="flex items-center justify-center rounded-full border-4 border-gray-950">
	<Image
		src={src}
		alt="Kanishka Mohan"
		width={156}
		height={156}
		class="animate-zoom-in-out size-36 rounded-full p-0.5 duration-300 md:size-40"
		loading="eager"
	/>
</div>
